<section>
  <h1 class="weedingpros-title">{{ weedingProsTitle }}</h1>
  <p class="weedingpros-opener">{{ weedingProsOpener }}</p>
</section>
<section class="weedingpros-section">
  <div class="weedingpros-card">
    <p class="weedingpros-title">Moderation</p>
    <h3 class="weedingpros-name">Sabina Papiorek</h3>
    <div class="weedingpros-image">
      <img
        src="./Sabina_Papiorek.jpg"
        alt="Sabina Papiorek"
        class="wedding-image"
      />
    </div>
    <div class="icon-row">
      <a [href]="websiteModeration" target="_blank" rel="noopener noreferrer" aria-label="Website">
      <i class="fa-solid fa-globe"></i>
      </a>
      <a [href]="instagramModeration" target="_blank" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="weedingpros-card">
    <p class="weedingpros-title">Fotografin</p>
    <h3 class="weedingpros-name">Sammy Loveless</h3>
    <div class="weedingpros-image">
      <img
        src="./Sammy_Loveless.jpg"
        alt="Sammy Loveless"
        class="wedding-image"
      />
    </div>
    <div class="icon-row">
      <a [href]="websitePhotograph" target="_self" rel="noopener noreferrer" aria-label="Website">
        <i class="fa-solid fa-globe"></i>
      </a>
      <a [href]="instagramPhotograph" target="_self" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="weedingpros-card">
    <p class="weedingpros-title">DJ</p>
    <h3 class="weedingpros-name">Andreas Hablowetz #frezhdj</h3>
    <div class="weedingpros-image">
      <img
        src="./frezhDj.jpg"
        alt="Andreas Hablowetz"
        class="wedding-image"
      />
    </div>
    <div class="icon-row">
      <a [href]="websiteDj" target="_self" rel="noopener noreferrer" aria-label="Website">
        <i class="fa-solid fa-globe"></i>
      </a>
      <a [href]="instagramDj" target="_self" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="weedingpros-card">
    <p class="weedingpros-title">Floristik</p>
    <h3 class="weedingpros-name">Hier könnte ihr Name stehen</h3>
    <div class="weedingpros-image">
      <img
        src=""
        alt="Floristik"
        class="wedding-image"
      />
    </div>
    <div class="icon-row">
      <a [href]="" target="_self" rel="noopener noreferrer" aria-label="Website">
        <i class="fa-solid fa-globe"></i>
      </a>
      <a [href]="" target="_self" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>

  <div class="weedingpros-card">
    <p class="weedingpros-title">Tanzschule</p>
    <h3 class="weedingpros-name">Dance Cube</h3>
    <div class="weedingpros-image">
      <img
        src="./Dance_Cube.jpg"
        alt="Dance Cube"
        class="wedding-image"
      />
    </div>
    <div class="icon-row">
      <a [href]="websiteDanceSchool" target="_self" rel="noopener noreferrer" aria-label="Website">
        <i class="fa-solid fa-globe"></i>
      </a>
      <a [href]="instagramDanceSchool" target="_self" rel="noopener noreferrer" aria-label="Instagram">
        <i class="fa-brands fa-instagram"></i>
      </a>
    </div>
  </div>
</section>
