<section>
  <h1 class="weedingpros-title">{{ weedingProsTitle }}</h1>
  <p class="weedingpros-opener">{{ weedingProsOpener }}</p>
  <hr>
</section>
<section>
  <h1 class="weedingpros-title">Moderation</h1>
  <div class="icon-row">
    <i class="fa-solid fa-globe"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <h1 class="weedingpros-title">Fotografin</h1>
  <div class="icon-row">
    <i class="fa-solid fa-globe"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <h1 class="weedingpros-title">DJ</h1>
  <div class="icon-row">
    <i class="fa-solid fa-globe"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <h1 class="weedingpros-title">Floristik</h1>
  <div class="icon-row">
    <i class="fa-solid fa-globe"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
</section>
